{% extends "base.html" %}

{% load static %}


{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Vamos a realizar una consulta simple</h1>
      </div>



        <div class="mx-auto col-5" style="margin-top: 10rem";>
          <h3 class="text-center mb-3 text-secondary"> 
            Selecciona las fechas:
            <form id="form" action="{{ url_server }}/analisis" method="post"> {% csrf_token %}
              {{ form.as_p }}
              <button type="button" onclick="sendDates()" class="btn btn-primary mt-3">Ver estadísticas</button>

             </form>
         
            </h3>
          </div>

        {% if data %}

          
              <div id="tableResults" class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="3" class="text-center">Resultados obtenidos</th>
                    </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Fecha</th>
                      <th scope="col"> Datos </th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for item, n in data %}

                    <tr class="accordion-toggle collapsed"
                      id="accordion{{ n }}"
                      data-mdb-toggle="collapse"
                      data-mdb-parent="#accordion{{ n }}"
                      href="#collapse{{n}}"
                      aria-controls="collapse{{n}}"
                    >
                      <td class="expand-button"></td>
                      <!-- If data array is not empty, then show in tables-->
                     
                          <td>       {{ item.date | date:"d / m / Y"}}</td>
                          {% if item.numbers_afternoon or item.numbers.night %}
                            <td> Tenemos datos </td>
                         {% else %}
                            <td> No corresponden sorteos </td>
                          {% endif %}
                 
                    </tr>
                    <tr class="hide-table-padding">
                      <td></td>
                      <td colspan="3">
                        <div id="collapse{{n}}" class="collapse in p-3">
                          <div class="row">
                            <div class="col-2 font-weight-bold">Vespertina</div>
                            {% for number in item.numbers_afternoon%}
                             {{ number }}  -   
                            {% endfor %}
                          </div>
                          <div class="row">
                            <div class="col-2 font-weight-bold">Nocturna</div>
                            {% for number in item.numbers_night%}
                             {{ number }}   -
                            {% endfor %}
                          </div>
                         
                        </div></td>
                    </tr>

                     {% endfor %}

                    
                  </tbody>
                </table>
              </div>
            
      {% endif %}

         


        
    </main>
  </div>
</div>

{% block data %}

<!-- FlatPickr JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  //choose labels 
  var labelGenerado = document.getElementsByTagName("label")[0];
  labelGenerado.innerHTML = "";

  config = {
    mode: "range"
  }
  flatpickr("#datepicker", config);

  function sendDates(){
    console.log("hola");
    var dates = document.getElementById("datepicker").value;
    var startDate = dates.split(" to ")[0];
    var endDate = dates.split(" to ")[1];
    var startDay = startDate.split("/")[0];
    var startMonth = startDate.split("/")[1];
    var startYear = startDate.split("/")[2];
    var endDay = endDate.split("/")[0];
    var endMonth = endDate.split("/")[1];
    var endYear = endDate.split("/")[2];
    document.getElementById("form").submit();
  }
</script>


{% endblock data %}

{% endblock content %}



  

